<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tablestoragedpedemo;AccountKey=e5cDJUGhdkQtUxqs+aSkM4p0mzMie+1Tj1/xuC8M0DAHhoE6LJUkLrGm6na+n0D6Zt47AT8KgKMaJz9sa0BSUg==" />
    </appSettings>
</configuration>